---
layout: post
title: Superstar Crush is not real, according to Spotify
---


And neither are Oh Berlin, Mas Aya, Willow Switch, Sam Hansell, Hunter Stull, 4 Da Tribe, Mad Iris, or Juice Joint.  Half of these guys are on Vinyl.  

The only real band is Status Non-Status, led by Anishinaabe recording artist ADAM STURGEON!!!  They've been at it since 2009 tho.
<a href="https://statusnonstatus.bandcamp.com/album/big-changes" target="_blank">https://statusnonstatus.bandcamp.com/album/big-changes</a>

The rationale for Spotify’s latest verification system can be read here:  <a href="https://support.spotify.com/ca-en/article/verified-by-spotify/" target="_blank">https://support.spotify.com/ca-en/article/verified-by-spotify/</a>


In summary, Spotify is continuing to use “AI” as the excuse to delegitimize real yet less-prominent artists.  These artists are known in their local scenes, but do not perform so well to the recommendation algorithms.  By requiring artists to reach a certain listener threshold, upcoming artists may appear indistinguishable from the “slop” (Spotify’s words).  All of the bands I have mentioned have been actively performing for years, have acquired a fanbase, and have put their original music on physical media.  Some even have tour dates listed on Spotify, so are no doubt real.  At one point, the indie and underground artists were the hidden gems on Spotify’s platform, as their brand was THE spot to hear all of recorded music history.  This is no longer true, as indie musicians are now struggling to EXIST, when existence is being determined by semi-automated verification procedures and a network of streaming rights-management distributors that have prioritized the creation of a culture passive-listening subscribers and the overturning of the radio/major label era.  

If you’re not getting verified, pull your music.  Spotify will become the modern equivalent of the pop station, and less commercially-viable art will be found irl and on Bandcamp.  The last thing you want as an artist is for the first-impression to your music be indistinguishable from AI.  I’ve pulled my music from Spotify, as Distrokid increased their annual fee to $60.  Ever since Spotify decided to stop paying non-verified artists, this is far more than I’m willing to spend.  The algorithms train audiences for convenience and passive consumption, so few are willing to follow artists off the platform.  It feels like I’ve failed.  Failed to let myself be turned into a content farm for social media data farms/AI entertainment apps.  Spotify, Google, Meta.

The solution to the destruction of real music & arts communities is not a verification badge for the pop stars, it’s a cultural revolution where we stop seeing “””content””” as real art, we go back to actively-engaging with art, so audiences can move to the art galleries, live venues, and Bandcamp, where community-building initiatives actually work.  


Written by Aiden Waasaezi