---
layout: post
title: Superstar Crush is not real, according to Spotify
---


And neither are Oh Berlin, Mas Aya, Willow Switch, Sam Hansell, Hunter Stull, 4 Da Tribe, Mad Iris, or Juice Joint.  Half of these guys are on Vinyl.  

The only real band is Status Non-Status, led by Anishinaabe recording artist ADAM STURGEON!!!  They've been at it since 2009 tho.
<a href="https://statusnonstatus.bandcamp.com/album/big-changes" target="_blank">https://statusnonstatus.bandcamp.com/album/big-changes</a>

The rationale for Spotify’s latest verification system can be read here:  <a href="https://support.spotify.com/ca-en/article/verified-by-spotify/" target="_blank">https://support.spotify.com/ca-en/article/verified-by-spotify/</a>


In summary, Spotify is continuing to use “AI” as the excuse to delegitimize real yet less-prominent artists.  These artists are known in their local scenes, but do not perform so well to the recommendation algorithms.  By requiring artists to reach a certain listener threshold, upcoming artists may appear indistinguishable from the “slop” (Spotify’s words).  All of the bands I have mentioned have been actively performing for years, have acquired a fanbase, and have put their original music on physical media.  Some even have tour dates listed on Spotify, so there shouldn't be doubt that they are real.  At one point in time, the indie and underground artists were the hidden gems on Spotify’s platform.  Their brand was **THE spot to hear all of recorded music history**.  This is no longer true, as indie musicians are now struggling to exist– when existence is being determined by semi-automated verification procedures and a network of streaming rights-management distributors that have prioritized the creation of a culture of passive-listening subscribers and the overturning of the radio/major label era with no regard for the future of art and the communities that make it.  

Our advice: If you’re not getting verified, pull your music.  Spotify will become the modern equivalent of the pop station, and less commercially-viable art will be found irl and on Bandcamp.  The last thing you want as an artist is for the first-impression to your music be indistinguishable from AI.  I’ve pulled my music from Spotify, as Distrokid increased their annual fee to $60. (they charged me anyway and refused to issue a refund) Ever since Spotify decided to stop paying non-verified artists, this is far more than I’m willing to spend.  The algorithms train audiences for convenience and passive consumption, so few are willing to follow artists off the platform.  It feels like I’ve failed.  Failed to let myself be turned into a content farm for social media data farms/AI entertainment apps.  Spotify, Google, Meta, and everyone complicit in making it seem like EVERYTHING exists on these spaces.  Hey, at least going to a live show feels like you just broke out of the matrix.  Or the metaverse, as they're calling it.  Or 🇨🇦**AI for all**🇨🇦.  

The solution to the destruction of real music & arts communities is not a verification badge for the pop stars, it’s a cultural revolution where we stop seeing *“””content”””* as real art.  We go back to actively-engaging with art, and actually creating art that can be appreciated at that level.  Audiences move to the art galleries, live venues, and Bandcamp, where community-building initiatives actually work.  The responsibility is equally on the artist to resist the external validation provided by Spotify and Meta's audience metrics.  These reward quantity over quality.  The times have not really changed, it's just like the pre-spotify industry where major labels made it near impossible to achieve international success without the right connections.  Just now, instead of dealing with people, we're dealing with a black box reccomendeation algorithm that's tuned for time-spent-on-platform.  That means that Spotify is not trying to help you find listeners who buy the vinyl or go to shows.  Money is made through tickets and merch sales anyway.  Sales are motivated by a good live performance.  We can use artists in poverty for political action- to get governments to regulate the tech giants who are infiltrating our lives.  

*Pelly, Liz.  Mood Machine: The Rise of Spotify and the Cost of the Perfect Playlist.  One Signal Publishers/Atria Books, 2025.*

Written by Aiden Waasaezi